
<table>
  <% if user_signed_in? %>
    <p id="new_post"><%= link_to 'make a new post', new_post_path %></p>
    <% @posts.reverse.each do |post| %>
      <div class="post">
        <h2><%= post.user.first_name %> <%= post.user.last_name %></h2>
        <p id="small-margin-top"><b><%= post.updated_at.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y %I:%M %p")%></b></p>
        <h4><%= post.caption %></h4>
        <% temp = true %>
        <% @comments.reverse.each do |comment| %>
          <% if post.id == comment.post_id %>
            <% if temp %>
              <hr>
              <% temp = false %>
            <% end %>
            <% @users.each do |user| %>
              <% if user.id == comment.user_id %>
                <h4>  <%= user.first_name %> <%= user.last_name %> commented: <%= comment.content %></h4>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to "like (#{post.users_liked.length})", like_path(post), method: :patch %>
        <%= link_to 'comment', new_comment_path(post_id: post.id)%>
        <% if current_user.id == post.user.id %>
          <%= link_to 'edit', edit_post_path(post) %>
          <%= link_to 'delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>
      Sign in to view posts!
    </p>
  <% end %>
</table>

<br>