<!DOCTYPE html>
<html>
    <link href="https://fonts.googleapis.com/css?family=Assistant:200,400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:200" rel="stylesheet">
  <head>
    <title>SoundShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="container">
      <div id="logo"><%= image_tag "logo.png" =%></div>
      <% if user_signed_in? %>
        <p class="info">
          <i>Logged in as <%= current_user.first_name %> <%= current_user.last_name %></i>
        </p>  
        <div id="navbar">
          <%= link_to 'HOME', root_path %>
          <%= link_to 'EDIT PROFILE', edit_user_registration_path%>
          <%= link_to "LOGOUT", destroy_user_session_path, method: :delete %> 
        </div>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path  %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>

  </header>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
